pages:

  tags: 
    - shell
  stage: deploy
  script:
    - mkdir public
    - mv -a -r *.html CNAME README.md *.ico media meta wad public
  artifacts:
    paths:
      - WiiMart-github-io
  only:
    - main

