stages:
  - build

upload_to_server:
  stage: build
  image:
    name: wiimartorg-updater:latest

  tags:
    - shell

  script:
    - ls
    - ls /opt
    - ls /opt/.ssh
    - ./opt/WiiMartOrgSender.sh