stages:
  - build

upload_to_server:
  stage: build
  image:
    name: wiimartorg-updater:latest
    pull_policy: never

  tags:
    - shell
  script:
    - docker run --rm wiimartorg-updater /opt/WiiMartOrgSender.sh