stages:
  - build

upload_to_server:
  stage: build
  image:
    name: wiimartorg-updater:latest
    pull_policy: never

  script:
    - ls
    - ls /opt
    - ls /opt/.ssh
    - ./opt/WiiMartOrgSender.sh