stages:
  - deploy

deploy:
  stage: deploy
  tags:
    - shell
  before_script:
    - echo "$SSH_PRIVATE_KEY" | base64 -d > ~/.ssh/id_ed25519
    - chmod 600 ~/.ssh/id_ed25519
  script:
    - ssh deploy "cd /var/www/wiimart.org && git pull && sudo systemctl reload httpd"