@font-face {font-family: 'Shop'; src: url('shop.ttf') format('truetype'); font-weight: normal; font-style: normal;}

/*Main things*/
body {scroll-behavior:smooth;text-align: center;font-family: sans-serif;font-family:'Shop',sans-serif; overflow-x:hidden;transition:.1s ease-in-out;}

div.row {width:50%;margin:auto}
div.box {line-height:23.3px;background-color:white;border:solid 2px #34BEED;border-radius:5px;box-shadow: 0 0 10px #2525255d;box-sizing:border-box;text-align:center;margin: 0 auto;padding:5px;margin-top: 8px; overflow: auto;}

h1 {margin-bottom: 10px;}
nav {margin-bottom: 20px;line-height: 35px;}
footer {color:grey}
footer a {color:grey}

a.btn {background-color: #E6FFF2;border-radius: 10px;padding: 4px;margin-bottom: 10px;color:black;text-decoration: none;filter: drop-shadow(1px 1px 1px black);font-weight: 100;display:inline}
a.btn:hover {background-color: #C7FDFF;}
a.btn:active {filter: none;}
span.active {background-color: #c7c7c7;border-radius: 10px;padding: 4px;font-weight: 100;display:inline;cursor:auto;user-select:none}
span.date {float:right;}
span.hide {color:black}
button {margin-bottom: 6px;font-family:'Shop',sans-serif;padding: 5px;outline: 1px solid #34BEED;border-radius: 3px;filter: drop-shadow(1px 1px 3.4px #bbbbbb);border:none}
button:hover {box-shadow: inset 0 0 0 3px #34BEED;cursor:pointer}
button:disabled {outline: 1px solid #9A9A9A;box-shadow:none;cursor:default}

details {text-align:left;padding-left: 5px;padding-right: 5px;}
details ul {padding-left: 0;}
details li {font-size:smaller;list-style:none;vertical-align:middle;}
summary {padding-left: 5px;padding-right: 5px;cursor: pointer;user-select: none}
details li img {width:25px;height:25px;vertical-align:middle;margin:1px;outline:solid 1px #9900FF;border-radius:2px}
details li a img:hover {outline: solid 2px #9900FF}
details li img.pf {outline:none}

/* Text stuff */
h1, h2 {color:#34BEED;}
h1 {font-size: 30px;}
h1 a {text-decoration:none}
hr {border-color:grey}

a {color:#34BEED; font-weight: bold;}
::selection{color: #323232;background: #34BEED;}
::-moz-selection{color: #323232;background:#34BEED;}
button.ico {width:20px; height:20px;}
img.ico {vertical-align:middle;width:20px;height:20px;}
img.wb {outline: solid 1px black}
.blue {color:#1164E9;}


mark {color:white;background:#34BEED;font-weight:bold;}
mark.new {background-color: gold;color:orangered;border-radius: 10px; padding-right:5px; padding-left:5px;font-weight:bold;}

/* Gallery */
div.gallery {position:relative;width:100%;box-sizing:border-box;}
img.slide {width:100%; min-height:200px; min-width:100%;border-radius:5px;}
img.arrow {min-height:68px; position: absolute; top: 50%; transform: translateY(-50%); cursor: pointer; width: 60px; height: auto;}
img.left {left: 10px; animation: hoverAnimation 0.5s infinite alternate;}
img.right {right: 10px; animation: rightHoverAnimation 0.5s infinite alternate;}
@keyframes hoverAnimation {0% {transform: translateY(-50%) translateX(0);} 100% {transform: translateY(-50%) translateX(5px);}}
@keyframes rightHoverAnimation {0% {transform: translateY(-50%) translateX(0);} 100% {transform: translateY(-50%) translateX(-5px);}}

/* Music */
div#bgmplayer {z-index: 1000;transition:.3s ease-in-out; opacity:30%; position:fixed; bottom:3px; border:2px solid #34BEED; left:3px; float:left; width:160px; height:40px; overflow:hidden;}
div#bgmplayer:hover {opacity: 50%; transition:.3s ease-in-out; height:100px; width:200px; overflow:auto;scrollbar-width: none;}
div#bgmplayer h2 {height:20px; margin-top:-9px; line-height:40px}
div#bgmplayer p {line-height:20px;color:#9A9A9A;margin-top:-10px;font-style:italic;font-size:10px;}


/* Matt! Yea? update day! what?? New-New Wii Titles! What? im in the bathroom! Update day for WiiMart! */
#wednesdaytitles {margin-top:13px; margin-bottom:13px; border:none;position:relative; float:center; background-color:#FFF; transition:.3s ease-in-out;}

#whatiswsw {animation:wswpop 0.5s forwards;opacity:0%;position: fixed;top: 50%;left: 50%;transform: translate(-50%, -50%);text-align:center;z-index:999;transition:.3s ease-in-out;}
@keyframes wswpop {
  10% {
     opacity:0%;
  }
  100% {
     opacity:100%;
  }
}

/* Auto-resizer, do not change pls*/
@media (max-width: 768px) {div.row {width: 95%}}
@media (min-width: 1500px) {div.row {width: 40%}}

/* Dark theme via system preference */
@media (prefers-color-scheme: dark)
{
  body {background-color: black; color: #e0e0e0;}
  div.box {background-color: #1e1e1e; box-shadow: 0 0 10px #000000CC;}
  a.btn {background-color: #587566;color:white}
  a.btn:hover {background-color: #7da2a3;}
  span.active {background-color: #313131}
  span.hide {color:white}
  button {background-color: #3b3b3b; color: #e0e0e0;filter: drop-shadow(1px 1px 3.4px #747474)}
  button:active {box-shadow: none;}
  footer, footer a {color: #9A9A9A;}
  h1, h2, a {color: #34BEED;}
  ::selection {color: #e0e0e0; background: #34BEED;}
  ::-moz-selection {color: #e0e0e0; background: #34BEED;}
  mark {color:black;background:#34BEED;font-weight:bold;}
  img.wb {outline: solid 1px white}
  .blue {color:#5898ff;}
  #errorCode {background-color: black;border: 2px solid grey;color:white;}
  mark {color:white}
  #wednesdaytitles {color:white; background-color:#3b3b3b}
}
